---
import BaseLayout from '../components/BaseLayout.astro';
import PostListItem from '../components/PostListItem.astro';
import Section from '../components/Section.astro';

import { getTagsToPosts } from '../data/posts.js';

export async function getStaticPaths() {
  let posts = await Astro.glob(`../_posts/*.mdx`);
  const tagsToPosts = getTagsToPosts(posts);
  return Object.keys(tagsToPosts).map(t => ({
    params: { tag: t },
    props: { posts: tagsToPosts[t], tag: t },
  }));
}

const { tag } = Astro.props;
// Already filtered and sorted thanks to getTagsToPosts() above.
let { posts } = Astro.props;
const count = posts.length;
const title = `${count} post${count != 1 ? "s" : ""} tagged with "${tag}"`
---

<BaseLayout title={title}>
  <Section>
    <h2>
      {title}
    </h2>
    <ul class="postList">
      {
        posts.map(
          ({
            url,
            frontmatter: { title, slug, tags, published }
          }) => (
            <PostListItem {title} {slug} {tags} {published} />
          )
        )
      }
    </ul>
  </Section>
</BaseLayout>
