---
import BaseLayout from '../components/BaseLayout.astro';
import PostListItem from '../components/PostListItem.astro';

import { getTagsToPosts } from '../data/posts.js';

export async function getStaticPaths() {
  let posts = await Astro.glob(`../_posts/*.mdx`);
  const tagsToPosts = getTagsToPosts(posts);
  return Object.keys(tagsToPosts).map(t => ({
    params: { tag: t },
    props: { posts: tagsToPosts[t], tag: t },
  }));
}

const { tag } = Astro.props;
const { posts } = Astro.props;
const count = posts.length;
const headerString = `${count} post${count != 1 ? "s" : ""} tagged with "${tag}"`
---

<BaseLayout>
  <h2>
    {headerString}
  </h2>
  <ul>
    {
      posts.map(
        ({
          url,
          frontmatter: { title, slug, tags, published }
        }) => (
          <PostListItem {title} {slug} {tags} {published} />
        )
      )
    }
  </ul>
</BaseLayout>
