---
import BaseLayout from '../components/BaseLayout.astro';
import PostListItem from '../components/PostListItem.astro';

import { getTagsToPosts } from '../data/posts.js';

let posts = await Astro.glob(`../_posts/*.mdx`);
const count = posts.length;
---

<BaseLayout>
  <h2>
    All {count} posts
  </h2>
  <ul>
    {
      posts.map(
        ({
          url,
          frontmatter: { title, slug, tags, published }
        }) => (
          <PostListItem {slug} {title} {tags} {published} />
        )
      )
    }
  </ul>
</BaseLayout>
