---
import BaseLayout from '../components/BaseLayout.astro';
import PostListItem from '../components/PostListItem.astro';
import Section from '../components/Section.astro';

import { filterAndSort } from '../data/posts.js';

let posts = await Astro.glob(`../_posts/*.mdx`);
posts = filterAndSort(posts);
const count = posts.length;
const title = `All ${count} posts`
---

<BaseLayout title={title}>
  <Section>
    <h2>
      {title}
    </h2>
    <ul class="postList">
      {
        posts.map(
          ({
            url,
            frontmatter: { title, slug, tags, published }
          }) => (
            <PostListItem {slug} {title} {tags} {published} />
          )
        )
      }
    </ul>
  </Section>
</BaseLayout>
