---
const { post } = Astro.props;
const {
  frontmatter: { title, published, updated, tags },
} = post;
---

<postHeader>
  <h2>{title}</h2>
  <h4>Originally posted: {published}</h4>
  {{updated} && (updated != published) && <h4> Updated: {updated}</h4>}
  <h4>Tags: {tags}</h4>
  <style>
    h2 {
      text-align: center;
    }
    h4 {
      text-align: center;
      font-weight: normal;
    }
  </style>
</postHeader>
